# Benchmark eICU using finetuned mistral nemo minitron 8B

In [1]:
import os
from openai import OpenAI
from loguru import logger
import sys
sys.path.append(os.path.abspath(os.path.join('..', 'model_evaluation')))

# Set up client

In [4]:
import asyncio
from openai import AsyncOpenAI
import json
from loguru import logger

# Re-using vLLM server details from previous cells
IP = "localhost"
PORT = 8000
BASE_URL = f"http://{IP}:{PORT}/v1"
MODEL_PATH = "/home/ubuntu/workspace/mistral-nemo-minitron-8b-instruct-healthcare-text2sql_vV2.8"

# Initialize the AsyncOpenAI client
async_client = AsyncOpenAI(
    api_key="not-needed",
    base_url=BASE_URL,
)

In [6]:
from utils import postprocess_sql_query_from_markdown

async def get_prediction(record: dict) -> str:
    """
    Generates a SQL query for a given record asynchronously.
    """
    index = record['index']
    ddl = record['ddl']
    instruction = record['instructions']
    question = record['user_query']
    output = record['output'] # ground truth SQL statement

    prompt_chat_template = [
        {
            "role": "system",
            "content": f"Based on DDL statements, instructions, generate a SQLite query to answer the user's question.\n\nDDL statements:\n{ddl}\nInstructions:\n{instruction}",
        },
        {
            "role": "user",
            "content": f"{question}"
        }
    ]

    try:
        response = await async_client.chat.completions.create(
            model=MODEL_PATH,
            messages=prompt_chat_template,
            temperature=0.0,
            max_tokens=512,
            stop=["<extra_id_1>"]
        )
        generated_sql = response.choices[0].message.content
        prediction = postprocess_sql_query_from_markdown(generated_sql)
        logger.info(f"Generated SQL for index {index}: {prediction}") 

        return {
            "index": index,
            "input": question, # user query
            "predict": prediction,  # model predicted SQL
            "real": output # ground truth SQL
        }
        
    except Exception as e:
        logger.error(f"An error occurred for index {record.get('index', 'N/A')}: {e}")
        return f"Error: {e}"

In [7]:
async def run_predictions_async(test_fp: str, output_fp: str):
    """
    Loads a test set and runs predictions asynchronously.
    """
    # Path to the mini test set
    with open(test_fp, "r") as f:
        test_data = json.load(f)

    tasks = [get_prediction(record) for record in test_data]
    
    logger.info(f"Sending {len(tasks)} requests to the vLLM server...")
    predictions = await asyncio.gather(*tasks)
    logger.success("All predictions done.")

    # add predictions to the test data by looking up the index
    results = []
    for pred in predictions:
        # create a dictionary with the index and prediction
        results.append({
            "index": pred['index'],
            "input": pred['input'],
            "predict": pred['predict'], 
            "real": pred['real']
        })

    # handle if the output file does not exist
    with open(output_fp, "w") as f:
        json.dump(results, f, indent=2)

    logger.success(f"Predictions saved to {output_fp}")

# Generate queries

In [12]:
from utils import preprare_directory
from time import time

# model name 
model_name = "mistral_nemo_minitron_8B_finetuned"

# trial number 
trial_number = 1    

# create output directory. set exist_ok=False to delete the old results and re-create a fresh folder
output_dir = f"../model_predictions/eICU/{model_name}/trial_{trial_number}"    
preprare_directory(output_dir, exist_ok=False)

# input test set directory
test_data_dir = "../model_evaluation/dataset/test"
test_data_fp = os.path.join(test_data_dir, "test_ehrsql_eicu_data.json")


# run predictions
start_time = time()
# run predictions
await run_predictions_async(
    test_fp = test_data_fp,
    output_fp = os.path.join(output_dir, "predictions.json")
)
end_time = time()
logger.success(f"Model {model_name}. Trial {trial_number} completed. Time taken: {end_time - start_time:.2f} seconds")

2025-07-27 04:55:28.285 | INFO     | __main__:run_predictions_async:11 - Sending 1792 requests to the vLLM server...

2025-07-27 04:56:36.148 | INFO     | __main__:get_prediction:34 - Generated SQL for index 2: select distinct medication.routeadmin from medication where medication.drugname = 'clonidine';
2025-07-27 04:56:36.386 | INFO     | __main__:get_prediction:34 - Generated SQL for index 5: select distinct medication.routeadmin from medication where medication.drugname = 'zolpidem tartrate 5 mg po tabs';
2025-07-27 04:56:36.861 | INFO     | __main__:get_prediction:34 - Generated SQL for index 6: select distinct treatment.treatmentname from treatment where treatment.treatmentname = 'vancomycin inj 1,000 mg vial';
2025-07-27 04:56:36.862 | INFO     | __main__:get_prediction:34 - Generated SQL for index 3: select distinct medication.routeadmin from medication where medication.drugname = 'morphine 2 mg/1 ml 1 ml syr';
2025-07-27 04:56:37.546 | INFO     | __main__:get_prediction:34 - Generated SQL for index 11: select distinct cost.cost from cost join treatment on cost.patienthealthsystemstayid = treatment.patientunitstayid where treatment.treatmentname = 'focussed abdominal sonography';
2025-07-27 04:56:37.969 | INFO     | __main__:get_prediction:34 - Generated SQL for index 10: select distinct cost.cost from cost where cost.eventtype = 'Procedure' and cost.uniquepid in ( select patient.uniquepid from patient ) and cost.eventtype = 'Insertion of venous catheter for hemodialysis - percutaneous catheter';
2025-07-27 04:56:38.201 | INFO     | __main__:get_prediction:34 - Generated SQL for index 9: select distinct cost.cost from cost where cost.eventtype = 'Procedure' and cost.eventid = ( select diagnosis.diagnosisid from diagnosis where diagnosis.diagnosisname = 'thoracoscopic procedure - wedge resection' );
2025-07-27 04:56:38.441 | INFO     | __main__:get_prediction:34 - Generated SQL for index 14: select distinct cost.cost from cost where cost.eventtype = 'Medication' and cost.eventid in ( select medication.medicationid from medication where medication.drugname = 'bicarbonate - sodium bicarbonate' ) order by cost.cost asc limit 1;
2025-07-27 04:56:38.678 | INFO     | __main__:get_prediction:34 - Generated SQL for index 4: select distinct medication.routeadmin from medication where medication.drugname = 'propofol 1000 mg/100 ml (pmx)';
2025-07-27 04:56:39.217 | INFO     | __main__:get_prediction:34 - Generated SQL for index 17: select distinct cost.cost from cost join lab on cost.patienthealthsystemstayid = lab.patientunitstayid where lab.labname = 'folate';
2025-07-27 04:56:39.888 | INFO     | __main__:get_prediction:34 - Generated SQL for index 12: select distinct cost.cost from cost where cost.eventtype = 'Medication' and cost.eventid in ( select medication.medicationid from medication where medication.drugname = 'bronchodilator - beta-agonist' ) order by cost.cost;
2025-07-27 04:56:39.889 | INFO     | __main__:get_prediction:34 - Generated SQL for index 18: select sum(cost) from cost where cost.eventtype = 'LAB' and cost.eventid in ( select lab.labid from lab where lab.labname = 'total co2' );
2025-07-27 04:56:40.766 | INFO     | __main__:get_prediction:34 - Generated SQL for index 8: select distinct cost.cost from cost where cost.eventtype = 'Procedure' and cost.eventid in ( select treatment.treatmentid from treatment where treatment.treatmentname = 'angiography - pulmonary angiogram' ) order by cost.cost asc;
2025-07-27 04:56:40.995 | INFO     | __main__:get_prediction:34 - Generated SQL for index 19: select distinct cost.cost from cost join lab on cost.patienthealthsystemstayid = lab.patientunitstayid where lab.labname = 'ph';
2025-07-27 04:56:41.418 | INFO     | __main__:get_prediction:34 - Generated SQL for index 20: select distinct cost.cost from cost where cost.eventtype = 'medication' and cost.uniquepid in ( select patient.uniquepid from patient where patient.uniquepid in ( select diagnosis.patientunitstayid from diagnosis where diagnosis.diagnosisname = '-basos' ) ) and cost.chargetime is not null;
2025-07-27 04:56:41.649 | INFO     | __main__:get_prediction:34 - Generated SQL for index 7: select distinct cost.cost from cost where cost.eventtype = 'Procedure' and cost.eventid in ( select treatment.treatmentid from treatment where treatment.treatmentname = 'internal fixation' ) order by cost.cost;
2025-07-27 04:56:42.025 | INFO     | __main__:get_prediction:34 - Generated SQL for index 16: select distinct cost.cost from cost join lab on cost.patienthealthsystemstayid = lab.patientunitstayid where lab.labname = 'methemoglobin';
2025-07-27 04:56:42.475 | INFO     | __main__:get_prediction:34 - Generated SQL for index 22: select distinct cost.cost from cost where cost.eventtype = 'Lab' and cost.uniquepid in ( select patient.uniquepid from patient ) and cost.cost is not null;
2025-07-27 04:56:43.111 | INFO     | __main__:get_prediction:34 - Generated SQL for index 21: select distinct cost.cost from cost where cost.eventtype = 'vent other';
2025-07-27 04:56:43.579 | INFO     | __main__:get_prediction:34 - Generated SQL for index 23: select distinct cost.cost from cost join medication on cost.patienthealthsystemstayid = medication.patientunitstayid where medication.drugname = 'klonopin';
2025-07-27 04:56:43.580 | INFO     | __main__:get_prediction:34 - Generated SQL for index 24: select distinct cost.cost from cost join medication on cost.uniquepid = medication.patientunitstayid where medication.drugname = 'aspirin 81 mg chewable tablet';
2025-07-27 04:56:43.809 | INFO     | __main__:get_prediction:34 - Generated SQL for index 15: select distinct cost.cost from cost join medication on cost.patienthealthsystemstayid = medication.patientunitstayid where medication.drugname = 'nitroglycerin - oral';
2025-07-27 04:56:44.411 | INFO     | __main__:get_prediction:34 - Generated SQL for index 31: select distinct cost.cost from cost join diagnosis on cost.patienthealthsystemstayid = diagnosis.patientunitstayid where diagnosis.diagnosisname = 'benzodiazepine overdose - with decreased mental status';
2025-07-27 04:56:44.412 | INFO     | __main__:get_prediction:34 - Generated SQL for index 25: select distinct cost.cost from cost join medication on cost.patienthealthsystemstayid = medication.patientunitstayid where medication.drugname = 'milk of magnesia ud liq 30 ml';
2025-07-27 04:56:44.829 | INFO     | __main__:get_prediction:34 - Generated SQL for index 26: select distinct cost.cost from cost where cost.eventtype = 'Medication' and cost.eventid in ( select medication.medicationid from medication where medication.drugname = '4 ml vial: furosemide 10 mg/ml ij soln' ) order by cost.chargetime desc limit 1;
2025-07-27 04:56:45.474 | INFO     | __main__:get_prediction:34 - Generated SQL for index 34: select distinct cost.cost from cost join diagnosis on cost.patienthealthsystemstayid = diagnosis.patientunitstayid where diagnosis.diagnosisname = 'acute lung injury - etiology unknown';
2025-07-27 04:56:45.703 | INFO     | __main__:get_prediction:34 - Generated SQL for index 28: select distinct cost.cost from cost where cost.eventtype = 'Medication' and cost.uniquepid in ( select patient.uniquepid from patient ) and cost.eventid in ( select medication.medicationid from medication where medication.drugname = 'Sodium Chloride 0.9%' ) order by cost.chargetime asc;
2025-07-27 04:56:45.930 | INFO     | __main__:get_prediction:34 - Generated SQL for index 35: select distinct cost.cost from cost where cost.uniquepid in ( select patient.uniquepid from patient where patient.patientunitstayid in ( select diagnosis.patientunitstayid from diagnosis where diagnosis.diagnosisname = 'coronary artery disease - known' ) ) and cost.eventtype = 'diagnosis';
2025-07-27 04:56:46.493 | INFO     | __main__:get_prediction:34 - Generated SQL for index 32: select distinct cost.cost from cost join diagnosis on cost.patienthealthsystemstayid = diagnosis.patientunitstayid where diagnosis.diagnosisname = 'acute respiratory distress - etiology unknown';
2025-07-27 04:56:46.494 | INFO     | __main__:get_prediction:34 - Generated SQL for index 36: select distinct cost.cost from cost where cost.uniquepid in ( select patient.uniquepid from patient where patient.patienthealthsystemstayid in ( select diagnosis.patientunitstayid from diagnosis where diagnosis.diagnosisname = 'pacemaker/aicd dysfunction' ) ) and cost.eventtype = 'diagnosis';
2025-07-27 04:56:46.943 | INFO     | __main__:get_prediction:34 - Generated SQL for index 39: SELECT patient.gender FROM patient WHERE patient.uniquepid = '015-76706';
2025-07-27 04:56:46.944 | INFO     | __main__:get_prediction:34 - Generated SQL for index 30: select distinct cost.cost from cost join diagnosis on cost.patienthealthsystemstayid = diagnosis.patientunitstayid where diagnosis.diagnosisname = 'oral thrush';
2025-07-27 04:56:47.170 | INFO     | __main__:get_prediction:34 - Generated SQL for index 38: SELECT patient.gender FROM patient WHERE patient.uniquepid = '015-66570';
2025-07-27 04:56:47.400 | INFO     | __main__:get_prediction:34 - Generated SQL for index 37: SELECT gender FROM patient WHERE uniquepid = '028-40370';
2025-07-27 04:56:48.312 | INFO     | __main__:get_prediction:34 - Generated SQL for index 27: select distinct cost.cost from cost where cost.eventtype = 'Medication' and cost.uniquepid in ( select patient.uniquepid from patient where patient.uniquepid in ( select diagnosis.patientunitstayid from diagnosis where diagnosis.diagnosisname = 'cephulac' ) ) order by cost.cost asc limit 1;
2025-07-27 04:56:48.655 | INFO     | __main__:get_prediction:34 - Generated SQL for index 41: select strftime('%J',patient.hospitaldischargetime) - strftime('%J',patient.hospitaladmittime) from patient where patient.uniquepid = '006-146580' and patient.hospitaldischargestatus = 'Discharged' order by patient.patienthealthsystemstayid desc limit 1;
2025-07-27 04:56:49.118 | INFO     | __main__:get_prediction:34 - Generated SQL for index 43: select strftime('%J',hospitaldischargetime) - strftime('%J',hospitaladmittime) from patient where uniquepid = '028-47306' and hospitaldischargestatus = 'Discharged' order by hospitaladmittime desc limit 1;
2025-07-27 04:56:49.411 | INFO     | __main__:get_prediction:34 - Generated SQL for index 40: SELECT patient.gender FROM patient WHERE patient.uniquepid = '006-227759';
2025-07-27 04:56:49.873 | INFO     | __main__:get_prediction:34 - Generated SQL for index 42: select ( strftime('%J',patient.hospitaldischargetime) - strftime('%J',patient.hospitaladmittime) ) / 100 as length_of_stay
from patient
where patient.uniquepid = '002-52932'
    and patient.hospitaldischargestatus = 'Discharged'
    and patient.hospitaldischargetime is not null
order by patient.hospitaladmittime desc
limit 1;
2025-07-27 04:56:50.098 | INFO     | __main__:get_prediction:34 - Generated SQL for index 44: SELECT  strftime('%J',hospitaldischargetime) - strftime('%J',hospitaladmittime) FROM patient WHERE uniquepid = '015-75226' AND hospitaldischargetime IS NOT NULL ORDER BY hospitaladmittime ASC LIMIT 1;
2025-07-27 04:56:51.094 | INFO     | __main__:get_prediction:34 - Generated SQL for index 46: SELECT MAX(hospitaldischargetime) - MIN(hospitaladmittime) FROM patient WHERE uniquepid = '017-74343';
2025-07-27 04:56:51.579 | INFO     | __main__:get_prediction:34 - Generated SQL for index 13: select distinct cost.cost from cost where cost.eventtype = 'Medication' and cost.uniquepid in ( select patient.uniquepid from patient where patient.uniquepid in ( select diagnosis.patientunitstayid from diagnosis where diagnosis.diagnosisname = 'Antihypertensives - Hydralazine' ) ) and cost.chargetime is not null;
2025-07-27 04:56:52.246 | INFO     | __main__:get_prediction:34 - Generated SQL for index 47: select ( strftime('%J',patient.hospitaldischargetime) - strftime('%J',patient.hospitaladmittime) ) * 24 from patient where patient.uniquepid = '016-5052' and patient.patienthealthsystemstayid = ( select patient.patienthealthsystemstayid from patient where patient.uniquepid = '016-5052' order by patient.hospitaladmittime asc limit 1 ) order by patient.unitadmittime asc limit 1;
2025-07-27 04:56:52.786 | INFO     | __main__:get_prediction:34 - Generated SQL for index 50: select
    strftime('%J',patient.hospitaldischargetime)) -
    strftime('%J',patient.hospitaladmittime)) as los
from patient
where patient.uniquepid = '032-32248'
    and patient.hospitaldischargestatus = 'Discharged'
    and patient.hospitaldischargetime is not null
order by patient.hospitaladmittime desc limit 1;
2025-07-27 04:56:53.246 | INFO     | __main__:get_prediction:34 - Generated SQL for index 53: select (dischargeweight - admissionweight) * 1.0 from patient where uniquepid = '035-22706' and hospitaldischargestatus = 'Discharged' order by hospitaladmittime desc limit 1;
2025-07-27 04:56:53.657 | INFO     | __main__:get_prediction:34 - Generated SQL for index 48: select ( strftime('%J',patient.hospitaldischargetime) - strftime('%J',patient.hospitaladmittime) ) / ( 24 * 60 * 60 ) from patient where patient.uniquepid = '017-101310' and patient.hospitaldischargestatus = 'Discharged' order by patient.hospitaladmittime asc limit 1;
2025-07-27 04:56:54.628 | INFO     | __main__:get_prediction:34 - Generated SQL for index 54: select ( strftime('%J',hospitaldischargetime) - strftime('%J',hospitaladmittime) ) / ( 24 * 60 * 60 ) from patient where uniquepid = '006-245995' and hospitaldischargestatus = 'Discharged' order by patienthealthsystemstayid asc limit 1;
2025-07-27 04:56:54.884 | INFO     | __main__:get_prediction:34 - Generated SQL for index 29: select distinct cost.cost from cost join medication on cost.patienthealthsystemstayid = medication.patientunitstayid where medication.drugname = 'epinephrine';
2025-07-27 04:56:55.984 | INFO     | __main__:get_prediction:34 - Generated SQL for index 55: select ( strftime('%J', patient.hospitaldischargetime) - strftime('%J', patient.hospitaladmittime) ) * 24 from patient where patient.uniquepid = '025-37141' and patient.patienthealthsystemstayid = ( select patient.patienthealthsystemstayid from patient where patient.uniquepid = '025-37141' order by patient.hospitaladmittime asc limit 1 ) order by patient.unitadmittime asc limit 1;
2025-07-27 04:56:56.751 | INFO     | __main__:get_prediction:34 - Generated SQL for index 33: select distinct cost.cost from cost where cost.eventtype = 'Diagnosis' and cost.uniquepid in ( select patient.uniquepid from patient where patient.patientunitstayid in ( select diagnosis.patientunitstayid from diagnosis where diagnosis.diagnosisname = 'acute pulmonary edema' ) ) order by cost.cost asc limit 1;
2025-07-27 04:56:58.030 | INFO     | __main__:get_prediction:34 - Generated SQL for index 49: SELECT  strftime('%J',patient.hospitaldischargetime) - strftime('%J',patient.hospitaladmittime) FROM patient WHERE patient.uniquepid = '011-58352' AND patient.hospitaldischargestatus = 'Discharged' ORDER BY patient.hospitaladmittime DESC LIMIT 1;
2025-07-27 04:56:58.415 | INFO     | __main__:get_prediction:34 - Generated SQL for index 56: select ( select lab.labresult from lab where lab.patientunitstayid in ( select patient.patientunitstayid from patient where patient.uniquepid = '018-47575' and patient.hospitaldischargestatus = 'Discharged' order by patient.hospitaladmittime desc limit 1 ) and lab.labname = 'admissionweight' order by lab.labresulttime desc limit 1 ) - ( select lab.labresult from lab where lab.patientunitstayid in ( select patient.patientunitstayid from patient where patient.uniquepid = '018-47575' and patient.hospitaldischargestatus = 'Discharged' order by patient.hospitaladmittime desc limit 1 ) and lab.labname = 'admissionweight' order by lab.labresulttime asc limit 1 ) );
2025-07-27 04:57:00.104 | INFO     | __main__:get_prediction:34 - Generated SQL for index 58: select (t2.dischargeweight - t1.dischargeweight) from ( select dischargeweight from patient where patient.uniquepid = '006-161415' and patient.hospitaldischargestatus = 'Discharged' and patient.hospitaladmittime = ( select min(hospitaladmittime) from patient where uniquepid = '006-161415' ) order by dischargeweight desc limit 1 ) as t1 join ( select dischargeweight from patient where patient.uniquepid = '006-161415' and patient.hospitaldischargestatus = 'Discharged' and patient.hospitaladmittime = ( select min(hospitaladmittime) from patient where uniquepid = '006-161415' ) order by dischargeweight desc limit 2 ) as t2 on 1 = 1;
2025-07-27 04:57:00.566 | INFO     | __main__:get_prediction:34 - Generated SQL for index 51: select ( strftime('%J',hospitaldischargetime) - strftime('%J',hospitaladmittime) ) * 86400 as los from patient where uniquepid = '016-1459' and hospitaldischargestatus = 'Discharged' order by hospitaladmittime desc limit 1;
2025-07-27 04:57:00.788 | INFO     | __main__:get_prediction:34 - Generated SQL for index 52: select
    strftime('%J',patient.hospitaldischargetime)) -
    strftime('%J',patient.hospitaladmittime)) as los
from patient
where patient.uniquepid = '027-107035'
    and patient.patienthealthsystemstayid = ( select patient.patienthealthsystemstayid from patient where patient.uniquepid = '027-107035' order by patient.hospitaladmittime asc limit 1 )
    and patient.hospitaldischargestatus = 'Discharged'
order by patient.hospitaladmittime asc limit 1;
2025-07-27 04:57:02.936 | INFO     | __main__:get_prediction:34 - Generated SQL for index 62: select ( select admissionweight from patient where patient.uniquepid = '012-4131' and unitadmittime = '2105-02-17 01:25:00' ) - ( select admissionweight from patient where patient.uniquepid = '012-4131' and unitadmittime = '2105-11-20 19:30:00' );
2025-07-27 04:57:05.261 | INFO     | __main__:get_prediction:34 - Generated SQL for index 60: select ( select admissionweight from patient where patient.uniquepid = '021-49416' and patient.patienthealthsystemstayid = ( select patient.patienthealthsystemstayid from patient where patient.uniquepid = '021-49416' order by patient.hospitaladmittime asc limit 1 ) order by patient.admissionweight asc limit 1 offset 1 ) - ( select admissionweight from patient where patient.uniquepid = '021-49416' and patient.patienthealthsystemstayid = ( select patient.patienthealthsystemstayid from patient where patient.uniquepid = '021-49416' order by patient.hospitaladmittime asc limit 1 ) order by patient.admissionweight asc limit 1 );
2025-07-27 04:57:05.695 | INFO     | __main__:get_prediction:34 - Generated SQL for index 59: select (lab.labresult - ( select lab.labresult from lab where lab.patientunitstayid = ( select patient.patientunitstayid from patient where patient.uniquepid = '021-240586' ) and lab.labname = 'admissionweight' and lab.labresulttime = '2101-10-12 15:58:00' )) * 100.0 / ( select lab.labresult from lab where lab.patientunitstayid = ( select patient.patientunitstayid from patient where patient.uniquepid = '021-240586' ) and lab.labname = 'admissionweight' and lab.labresulttime = '2101-10-12 15:58:00' ) as weight_variation
from lab
where lab.patientunitstayid = ( select patient.patientunitstayid from patient where patient.uniquepid = '021-240586' )
  and lab.labname = 'admissionweight'
  and lab.labresulttime = '2101-12-16 20:24:00';
2025-07-27 04:57:05.695 | INFO     | __main__:get_prediction:34 - Generated SQL for index 65: select ( select patient.admissionweight from patient where patient.uniquepid = '007-9115' and patient.patienthealthsystemstayid = ( select patient.patienthealthsystemstayid from patient where patient.uniquepid = '007-9115' order by patient.hospitaladmittime asc limit 1 ) order by patient.unitadmittime desc limit 1 ) - ( select patient.admissionweight from patient where patient.uniquepid = '007-9115' and patient.patienthealthsystemstayid = ( select patient.patienthealthsystemstayid from patient where patient.uniquepid = '007-9115' order by patient.hospitaladmittime asc limit 1 ) order by patient.unitadmittime asc limit 1 );

**Trial 0**: 
- NVIDIA L40S (48GiB), 1 GPUs x 8 CPUs | 147GiB
- vLLM setting: `--max-num-seqs 4`
- 1xL40S GPU utlization: 97%
- Time taken: 1343.81 seconds

**Trial 1**: 
- Settings same as above
- Time taken


**Average**
- Avg Time Taken: 1334.81 seconds

# Evaluate SQL query

To evaluate the SQL query, we will execute BOTH the ground truth SQL statement and the predicted SQL statement against the SQL database, and compare their outcomes

In [15]:
import os
from utils import preprare_directory

# create output directory for evaluation results, relative to the path of model_evaluation directory
# note that the evaluate results need a clean new folder, because it will overwrite any existing files in the folder
pred_directory = f"../model_predictions/eICU/mistral_nemo_minitron_8B_finetuned/trial_{trial_number}"
eval_directory = os.path.join(pred_directory, "evaluation")
preprare_directory(eval_directory, exist_ok=False)

# the predicted file from previous step
pred_file = os.path.join(pred_directory, "predictions.json")

print("Using predictions from: ", pred_file)

# path to the eICU database
db_path = "../model_evaluation/databases/eicu.sqlite"

Using predictions from:  ../model_predictions/eICU/mistral_nemo_minitron_8B_finetuned/trial_1/predictions.json

In [16]:
# run evaluation
!python ../model_evaluation/ehrsql_eval.py \
    --pred_file {pred_file} \
    --db_path {db_path} \
    --num_workers -1 \
    --timeout 60 \
    --out_file {eval_directory} \
    --ndigits 2

# Interpret results

In [17]:
fp = f"../model_predictions/eICU/mistral_nemo_minitron_8B_finetuned/trial_{trial_number}/evaluation/predictions_metrics.json"

with open(fp, "r") as f:
    metrics = json.load(f)

print(json.dumps(metrics, indent=4))

{
    "precision_ans": 100.0,
    "recall_ans": 96.65,
    "f1_ans": 98.3,
    "precision_exec": 36.26,
    "recall_exec": 35.04,
    "f1_exec": 35.64,
    "acc": 35.04
}

**Results**: 

**Trial 0**: 
```json
{
    "precision_ans": 100.0,
    "recall_ans": 96.71,
    "f1_ans": 98.33,
    "precision_exec": 36.81,
    "recall_exec": 35.6,
    "f1_exec": 36.2,
    "acc": 35.6
}
```

**Trial 1**: 

```json
{
    "precision_ans": 100.0,
    "recall_ans": 96.65,
    "f1_ans": 98.3,
    "precision_exec": 36.26,
    "recall_exec": 35.04,
    "f1_exec": 35.64,
    "acc": 35.04
}
```

In [19]:
# average accuracy
import numpy as np
print("Average accuracy: ", np.mean([35.6, 35.04]), "%")

Average accuracy:  35.32 %

# Notes

- If DDL does not have comments, then the average accuracy is 35.32%
    ```python
    print("Average accuracy: ", np.mean([35.6, 35.04]), "%")
    ```