# Benchmark eICU using finetuned mistral nemo minitron 8B

In [1]:
import os
from openai import OpenAI
from loguru import logger
import sys
import json
sys.path.append(os.path.abspath(os.path.join('..', 'model_evaluation')))

# Set up dataset

To evaluate the finetuned mistral 8B model, we will use the  `model_evaluation/dataset/test/test_ehrsql_eicu_data_benchmark.json` test dataset. This dataset contains **1792 Q&A pairs**.

In [2]:
# input test set directory
test_data_dir = "../model_evaluation/dataset/test"
test_data_fp = os.path.join(test_data_dir, "test_ehrsql_eicu_data_benchmark.json")

# try loading the test set
with open(test_data_fp, "r") as f:
    test_set = json.load(f)

print("Size of test set:", len(test_set))

print("Example of a test set item:")
print(json.dumps(test_set[0], indent=4))

Size of test set: 1792
Example of a test set item:
{
    "index": 1,
    "system": "Based on DDL statements, instructions, and the current date, generate a SQL query in the following sqlite to answer the question.\n If the question cannot be answered using the available tables and columns in the DDL (i.e., it is out of scope), return only: None.\nToday is 2105-12-31 23:59:00\nDDL statements:\nDROP TABLE IF EXISTS patient;\nCREATE TABLE patient    -- store patient demographics and admission information\n(\n    uniquepid VARCHAR(10) NOT NULL, -- Unique patient identifier across the system\n    patienthealthsystemstayid INT NOT NULL, -- unique identifier for a single ICU stay of a patient.\n    patientunitstayid INT NOT NULL PRIMARY KEY, -- Unique ID for the patient's ICU stay\n    gender VARCHAR(25) NOT NULL, -- Gender of the patient (\"female\" or \"male\") (lowercase)\n    age VARCHAR(10) NOT NULL, -- Age at admission (can be in years or an age category)\n    ethnicity VARCHAR(50), -- Ethnicity of the patient (e.g: \"caucasian\", \"native american\", \"hispanic\", \"african american\", \"other/unknown\", \"asian\" or null) (lowercase)\n    hospitalid INT NOT NULL, -- ID of the hospital\n    wardid INT NOT NULL, -- ID of the hospital ward/unit\n    admissionheight NUMERIC(10,2), -- Patient's height on admission (in cm)\n    admissionweight NUMERIC(10,2), -- Weight on admission (in kg)\n    dischargeweight NUMERIC(10,2), -- Weight at discharge (in kg)\n    hospitaladmittime TIMESTAMP(0) NOT NULL, -- Time patient was admitted to hospital\n    hospitaladmitsource VARCHAR(30) NOT NULL, -- Source of hospital admission (e.g., \"operating room\", \"floor\", \"other hospital\", \"emergency department\", \"direct admit\", \"step-down unit (sdu)\", \"acute care/floor\", \"recovery room\", \"icu to sdu\", \"other icu\" or \"pacu\") (lowercase)\n    unitadmittime TIMESTAMP(0) NOT NULL, -- Time of ICU admission\n    unitdischargetime TIMESTAMP(0), -- time of discharge from the ICU unit\n    hospitaldischargetime TIMESTAMP(0), -- Time of hospital discharge\n    hospitaldischargestatus VARCHAR(10) -- Discharge status (e.g., \"alive\", \"expired\" or null)\n);\n\nDROP TABLE IF EXISTS diagnosis;\nCREATE TABLE diagnosis  -- store diagnoses assigned during ICU stay\n(\n    diagnosisid INT NOT NULL PRIMARY KEY, -- Unique diagnosis record ID\n    patientunitstayid INT NOT NULL, -- ICU stay ID (FK to patient)\n    diagnosisname VARCHAR(200) NOT NULL, -- Full name of diagnosis (lowercase)\n    diagnosistime TIMESTAMP(0) NOT NULL, -- Time diagnosis was recorded\n    icd9code VARCHAR(100), -- ICD-9 code of the diagnosis\n    FOREIGN KEY(patientunitstayid) REFERENCES patient(patientunitstayid)\n);\n\nDROP TABLE IF EXISTS treatment;\nCREATE TABLE treatment  -- store treatments administered during ICU stay\n(\n    treatmentid INT NOT NULL PRIMARY KEY, -- Unique treatment record ID\n    patientunitstayid INT NOT NULL, -- ICU stay ID (FK to patient)\n    treatmentname VARCHAR(200) NOT NULL, -- Name of the treatment administered (lowercase)\n    treatmenttime TIMESTAMP(0) NOT NULL, -- Time the treatment was given\n    FOREIGN KEY(patientunitstayid) REFERENCES patient(patientunitstayid)\n);\n\nDROP TABLE IF EXISTS lab;\nCREATE TABLE lab  -- store lab test results\n(\n    labid INT NOT NULL PRIMARY KEY, -- Unique lab test result ID\n    patientunitstayid INT NOT NULL, -- ICU stay ID (FK to patient)\n    labname VARCHAR(256) NOT NULL, -- Name of the lab test (lowercase)\n    labresult NUMERIC(11,4) NOT NULL, -- Result value\n    labresulttime TIMESTAMP(0) NOT NULL, -- Time when the lab result was recorded\n    FOREIGN KEY(patientunitstayid) REFERENCES patient(patientunitstayid)\n);\n\nDROP TABLE IF EXISTS medication;\nCREATE TABLE medication  -- store medication administration records\n(\n    medicationid INT NOT NULL PRIMARY KEY, -- Unique medication record ID\n    patientunitstayid INT NOT NULL, -- ICU stay ID (FK to patient)\n    drugname VARCHAR(220) NOT NULL, -- Name of the medication (lowercase)\n    dosage VARCHAR(60) NOT NULL, -- Dosage of the drug\n    routeadmin VARCHAR(120) NOT NULL, -- Route of administration (e.g., \"iv\", \"po\", ...etc) (lowercase)\n    drugstarttime TIMESTAMP(0), -- Time drug administration started\n    drugstoptime TIMESTAMP(0), -- Time drug administration stopped\n    FOREIGN KEY(patientunitstayid) REFERENCES patient(patientunitstayid)\n);\n\nDROP TABLE IF EXISTS cost;\nCREATE TABLE cost  -- store cost-related data for services provided\n(\n    costid INT NOT NULL PRIMARY KEY, -- Unique cost record ID\n    uniquepid VARCHAR(10) NOT NULL, -- Unique patient ID (can appear in multiple ICU stays)\n    patienthealthsystemstayid INT NOT NULL, -- Hospital stay ID (FK to patient)\n    eventtype VARCHAR(20) NOT NULL, -- Type of billable event (e.g., \"diagnosis\", \"lab\", \"treatment\" or \"medication\") (lowercase)\n    eventid INT NOT NULL, -- Associated event ID (maps to treatment, lab, etc.)\n    chargetime TIMESTAMP(0) NOT NULL, -- Time the cost was charged\n    cost DOUBLE PRECISION NOT NULL, -- Cost value\n    FOREIGN KEY(patienthealthsystemstayid) REFERENCES patient(patienthealthsystemstayid)\n);\n\nDROP TABLE IF EXISTS allergy;\nCREATE TABLE allergy  -- store drug-related allergy information\n(\n    allergyid INT NOT NULL PRIMARY KEY, -- Unique allergy record ID\n    patientunitstayid INT NOT NULL, -- ICU stay ID (FK to patient)\n    drugname VARCHAR(255), -- Drug name associated with allergy (if any) (lowercase)\n    allergyname VARCHAR(255) NOT NULL, -- Description of the allergy (lowercase)\n    allergytime TIMESTAMP(0) NOT NULL, -- Time allergy was recorded\n    FOREIGN KEY(patientunitstayid) REFERENCES patient(patientunitstayid)\n);\n\nDROP TABLE IF EXISTS intakeoutput;\nCREATE TABLE intakeoutput  -- store intake/output measurements (fluids, urine, etc.)\n(\n    intakeoutputid INT NOT NULL PRIMARY KEY, -- Unique intake/output record ID\n    patientunitstayid INT NOT NULL, -- ICU stay ID (FK to patient)\n    cellpath VARCHAR(500) NOT NULL, -- Hierarchical label/path (lowercase)   \n    celllabel VARCHAR(255) NOT NULL, -- Label describing the intake/output (lowercase)\n    cellvaluenumeric NUMERIC(12,4) NOT NULL, -- Volume or quantity recorded\n    intakeoutputtime TIMESTAMP(0) NOT NULL, -- Time of measurement\n    FOREIGN KEY(patientunitstayid) REFERENCES patient(patientunitstayid)\n);\n\nDROP TABLE IF EXISTS microlab;\nCREATE TABLE microlab  -- store microbiology lab culture results\n(\n    microlabid INT NOT NULL PRIMARY KEY, -- Unique microbiology lab result ID\n    patientunitstayid INT NOT NULL, -- ICU stay ID (FK to patient)\n    culturesite VARCHAR(255) NOT NULL, -- Site of culture collection (e.g., \"blood\", \"urine\") (lowercase)\n    organism VARCHAR(255) NOT NULL, -- Identified organism (e.g., \"escherichia coli\", \"mixed flora\", \"pseudomonas aeruginosa\", ...etc) (lowercase)\n    culturetakentime TIMESTAMP(0) NOT NULL, -- Time culture was taken\n    FOREIGN KEY(patientunitstayid) REFERENCES patient(patientunitstayid)\n);\n\nDROP TABLE IF EXISTS vitalperiodic;\nCREATE TABLE vitalperiodic  -- store periodic vital signs measured during ICU stay\n(\n    vitalperiodicid BIGINT NOT NULL PRIMARY KEY, -- Unique ID for vital sign entry\n    patientunitstayid INT NOT NULL, -- ICU stay ID (FK to patient)\n    temperature NUMERIC(11,4), -- Body temperature (Celsius), the normal range is 35.5-38.1\n    sao2 INT, -- Oxygen saturation (%), the normal range is 95.0-100.0\n    heartrate INT, -- Heart rate (bpm), the normal range is 60.0-100.0\n    respiration INT, -- Respiratory rate (breaths per minute), the normal range is 12.0-18.0\n    systemicsystolic INT, -- Systolic blood pressure (mmHg), the normal range is 90.0-120.0\n    systemicdiastolic INT, -- Diastolic blood pressure (mmHg), the normal range is 60.0-90.0\n    systemicmean INT, -- Mean arterial pressure (mmHg), the normal range is 60.0-110.0\n    observationtime TIMESTAMP(0) NOT NULL, -- Time of observation\n    FOREIGN KEY(patientunitstayid) REFERENCES patient(patientunitstayid)\n);\nInstructions:\n- Respond only with the SQL query in markdown format. If unsure, reply with \"None\".",
    "user": "tell me the method of dextrose 5% in water (d5w) iv : 1000 ml bag intake?",
    "real": "select distinct medication.routeadmin from medication where medication.drugname = 'dextrose 5% in water (d5w) iv : 1000 ml bag';"
}

# Set up client

In [3]:
import asyncio
from openai import AsyncOpenAI
import json
from loguru import logger

# Re-using vLLM server details from previous cells
IP = "localhost"
PORT = 8000
BASE_URL = f"http://{IP}:{PORT}/v1"
MODEL_PATH = "/home/ubuntu/workspace/mistral-nemo-minitron-8b-instruct-healthcare-text2sql_vV2.8"

# Initialize the AsyncOpenAI client
async_client = AsyncOpenAI(
    api_key="not-needed",
    base_url=BASE_URL,
)

In [4]:
from utils import postprocess_sql_query_from_markdown

async def get_prediction(record: dict, language: str = "SQLite") -> str:
    """
    Generates a SQL query for a given record asynchronously
    Args:
        record: a dictionary of Q&A pairs
    Returns:
        A dictionary containing the input, predict, and real fields
    """
    index = record['index']
    system = record['system']
    user = record['user']
    real = record['real']

    prompt_chat_template = [
        {
            "role": "system",
            "content": f"{system}",
        },
        {
            "role": "user",
            "content": f"{user}"
        }
    ]

    try:
        response = await async_client.chat.completions.create(
            model=MODEL_PATH,
            messages=prompt_chat_template,
            temperature=0.0,
            max_tokens=512,
            stop=["<extra_id_1>"]
        )
        generated_sql = response.choices[0].message.content
        prediction = postprocess_sql_query_from_markdown(generated_sql)
        logger.info(f"Generated SQL for index {index}: {prediction}") 

        return {
            "index": index,
            "input": user, # user query
            "predict": prediction,  # model predicted SQL
            "real": real # ground truth SQL
        }
        
    except Exception as e:
        logger.error(f"An error occurred for index {record.get('index', 'N/A')}: {e}")
        return f"Error: {e}"

In [5]:
async def run_predictions_async(test_fp: str, output_fp: str):
    """
    Loads a test set and runs predictions asynchronously.
    """
    # Path to the mini test set
    with open(test_fp, "r") as f:
        test_data = json.load(f)

    tasks = [get_prediction(record) for record in test_data]
    
    logger.info(f"Sending {len(tasks)} requests to the vLLM server...")
    predictions = await asyncio.gather(*tasks)
    logger.success("All predictions done.")

    # add predictions to the test data by looking up the index
    results = []
    for pred in predictions:
        # create a dictionary with the index and prediction
        results.append({
            "index": pred['index'],
            "input": pred['input'],
            "predict": pred['predict'], 
            "real": pred['real']
        })

    # handle if the output file does not exist
    with open(output_fp, "w") as f:
        json.dump(results, f, indent=4)

    logger.success(f"Predictions saved to {output_fp}")

# Generate queries

In [6]:
from utils import preprare_directory
from time import time

# model name 
model_name = "mistral_nemo_minitron_8B_finetuned"

# trial number 
trial_number = 0    

# create output directory. set exist_ok=False to delete the old results and re-create a fresh folder
output_dir = f"../model_predictions/eICU/{model_name}/trial_{trial_number}"    
preprare_directory(output_dir, exist_ok=False)


# run predictions
start_time = time()
# run predictions
await run_predictions_async(
    test_fp = test_data_fp,
    output_fp = os.path.join(output_dir, "predictions.json")
)
end_time = time()
logger.success(f"Model {model_name}. Trial {trial_number} completed. Time taken: {end_time - start_time:.2f} seconds")

2025-07-27 16:41:35.224 | INFO     | __main__:run_predictions_async:11 - Sending 1792 requests to the vLLM server...

2025-07-27 16:42:43.131 | INFO     | __main__:get_prediction:37 - Generated SQL for index 3: select distinct medication.routeadmin from medication where medication.drugname = 'morphine 2 mg/1 ml 1 ml syr';
2025-07-27 16:42:43.377 | INFO     | __main__:get_prediction:37 - Generated SQL for index 2: select distinct intakeoutput.celllabel from intakeoutput where intakeoutput.celllabel = 'clonidine' and intakeoutput.cellpath like '%intake%';
2025-07-27 16:42:43.756 | INFO     | __main__:get_prediction:37 - Generated SQL for index 4: select distinct intakeoutput.celllabel from intakeoutput where intakeoutput.cellpath like '%intake%' and intakeoutput.celllabel = 'propofol 1000 mg/100 ml (pmx)';
2025-07-27 16:42:44.005 | INFO     | __main__:get_prediction:37 - Generated SQL for index 1: select distinct treatment.treatmentname from treatment where treatment.treatmentname = 'dextrose 5% in water (d5w) iv : 1000 ml bag';
2025-07-27 16:42:44.490 | INFO     | __main__:get_prediction:37 - Generated SQL for index 5: select distinct medication.routeadmin from medication where medication.drugname = 'zolpidem tartrate 5 mg po tabs';
2025-07-27 16:42:44.491 | INFO     | __main__:get_prediction:37 - Generated SQL for index 6: select distinct treatment.treatmentname from treatment where treatment.treatmentname = 'vancomycin inj 1,000 mg vial';
2025-07-27 16:42:44.813 | INFO     | __main__:get_prediction:37 - Generated SQL for index 7: select distinct cost.cost from cost where cost.eventtype = 'treatment' and cost.eventid in ( select treatment.treatmentid from treatment where treatment.treatmentname = 'internal fixation' ) order by cost.chargetime desc limit 1;
2025-07-27 16:42:45.488 | INFO     | __main__:get_prediction:37 - Generated SQL for index 11: select distinct cost.cost from cost join treatment on cost.eventid = treatment.treatmentid where treatment.treatmentname = 'focussed abdominal sonography';
2025-07-27 16:42:45.735 | INFO     | __main__:get_prediction:37 - Generated SQL for index 8: select distinct cost.cost from cost where cost.eventtype = 'treatment' and cost.eventid in ( select treatment.treatmentid from treatment where treatment.treatmentname = 'angiography - pulmonary angiogram' ) order by cost.cost asc;
2025-07-27 16:42:46.789 | INFO     | __main__:get_prediction:37 - Generated SQL for index 13: select distinct cost.cost from cost where cost.eventtype = 'medication' and cost.eventid in ( select medication.medicationid from medication where medication.drugname = 'antihypertensives - hydralazine' ) order by cost.chargetime asc;
2025-07-27 16:42:47.026 | INFO     | __main__:get_prediction:37 - Generated SQL for index 10: select distinct cost.cost from cost where cost.eventtype = 'treatment' and cost.eventid in ( select treatment.treatmentid from treatment where treatment.treatmentname = 'insertion of venous catheter for hemodialysis - percutaneous catheter' ) and cost.chargetime <= datetime('2105-12-31 23:59:00');
2025-07-27 16:42:47.928 | INFO     | __main__:get_prediction:37 - Generated SQL for index 12: select distinct cost.cost from cost where cost.eventtype = 'treatment' and cost.eventid in ( select treatment.treatmentid from treatment where treatment.treatmentname = 'bronchodilator - beta-agonist' ) and cost.cost is not null;
2025-07-27 16:42:47.928 | INFO     | __main__:get_prediction:37 - Generated SQL for index 15: select distinct cost.cost from cost join medication on cost.eventid = medication.medicationid where medication.drugname = 'nitroglycerin - oral';
2025-07-27 16:42:47.929 | INFO     | __main__:get_prediction:37 - Generated SQL for index 9: select distinct cost.cost from cost where cost.eventtype = 'treatment' and cost.eventid in ( select treatment.treatmentid from treatment where treatment.treatmentname = 'thoracoscopic procedure - wedge resection' ) and cost.chargetime <= datetime('2105-12-31 23:59:00');
2025-07-27 16:42:48.407 | INFO     | __main__:get_prediction:37 - Generated SQL for index 19: select distinct cost.cost from cost where cost.eventtype = 'lab' and cost.eventname = 'ph';
2025-07-27 16:42:48.407 | INFO     | __main__:get_prediction:37 - Generated SQL for index 17: select distinct cost.cost from cost where cost.eventtype = 'lab' and cost.eventname = 'folate';
2025-07-27 16:42:49.099 | INFO     | __main__:get_prediction:37 - Generated SQL for index 20: select distinct cost.cost from cost where cost.eventtype = 'treatment' and cost.eventid in ( select treatment.treatmentid from treatment where treatment.treatmentname = '-basos' ) order by cost.chargetime asc;
2025-07-27 16:42:49.728 | INFO     | __main__:get_prediction:37 - Generated SQL for index 16: select distinct cost.cost from cost where cost.eventtype = 'lab' and cost.eventid in ( select lab.labid from lab where lab.labname = 'methemoglobin' ) order by cost.chargetime asc;
2025-07-27 16:42:50.204 | INFO     | __main__:get_prediction:37 - Generated SQL for index 18: select sum(cost) from cost where eventtype = 'lab' and eventid in ( select lab.labid from lab where lab.labname = 'total co2' );
2025-07-27 16:42:50.204 | INFO     | __main__:get_prediction:37 - Generated SQL for index 14: select distinct cost.cost from cost where cost.eventtype = 'medication' and cost.eventid in ( select medication.medicationid from medication where medication.drugname = 'bicarbonate' ) union select distinct cost.cost from cost where cost.eventtype = 'medication' and cost.eventid in ( select medication.medicationid from medication where medication.drugname = 'sodium bicarbonate' ) order by cost.cost asc;
2025-07-27 16:42:51.193 | INFO     | __main__:get_prediction:37 - Generated SQL for index 21: select distinct cost.cost from cost where cost.eventtype = 'treatment' and cost.eventid in ( select treatment.treatmentid from treatment where treatment.treatmentname = 'vent other' ) order by cost.cost asc;
2025-07-27 16:42:51.194 | INFO     | __main__:get_prediction:37 - Generated SQL for index 22: select distinct cost.cost from cost where cost.eventtype = 'lab' and cost.eventid in ( select lab.labid from lab where lab.labname = 'chloride' ) order by cost.chargetime asc;
2025-07-27 16:42:51.652 | INFO     | __main__:get_prediction:37 - Generated SQL for index 24: select distinct cost.cost from cost where cost.eventtype = 'medication' and cost.eventid in ( select medication.medicationid from medication where medication.drugname = 'aspirin 81 mg chewable tablet' ) order by cost.chargetime asc limit 1;
2025-07-27 16:42:52.272 | INFO     | __main__:get_prediction:37 - Generated SQL for index 25: select distinct cost.cost from cost where cost.eventtype = 'medication' and cost.eventid in ( select medication.medicationid from medication where medication.drugname = 'milk of magnesia ud liq 30 ml' ) and cost.chargetime <= datetime('2105-12-31 23:59:00');
2025-07-27 16:42:52.681 | INFO     | __main__:get_prediction:37 - Generated SQL for index 29: SELECT AVG(cost) FROM cost WHERE eventtype = 'medication' AND drugname = 'epinephrine';
2025-07-27 16:42:53.148 | INFO     | __main__:get_prediction:37 - Generated SQL for index 26: select distinct cost.cost from cost where cost.eventtype = 'medication' and cost.eventid in ( select medication.medicationid from medication where medication.drugname = '4 ml vial: furosemide 10 mg/ml ij soln' ) order by cost.chargetime desc limit 1;
2025-07-27 16:42:53.149 | INFO     | __main__:get_prediction:37 - Generated SQL for index 27: select distinct cost.cost from cost where cost.eventtype = 'medication' and cost.eventid in ( select medication.medicationid from medication where medication.drugname = 'cephulac' ) order by cost.chargetime asc;
2025-07-27 16:42:53.386 | INFO     | __main__:get_prediction:37 - Generated SQL for index 28: select distinct cost.cost from cost where cost.eventtype = 'medication' and cost.eventid in ( select medication.medicationid from medication where medication.drugname = 'sodium chloride 0.9%' ) and cost.cost is not null;
2025-07-27 16:42:53.932 | INFO     | __main__:get_prediction:37 - Generated SQL for index 34: select distinct cost.cost from cost join diagnosis on cost.eventid = diagnosis.diagnosisid where diagnosis.diagnosisname = 'acute lung injury - etiology unknown';
2025-07-27 16:42:54.618 | INFO     | __main__:get_prediction:37 - Generated SQL for index 23: select distinct cost.cost from cost where cost.eventtype = 'medication' and cost.eventid in ( select medication.medicationid from medication where medication.drugname = 'klonopin' ) order by cost.chargetime;
2025-07-27 16:42:54.853 | INFO     | __main__:get_prediction:37 - Generated SQL for index 31: select distinct cost.cost from cost where cost.eventtype = 'diagnosis' and cost.eventid in ( select diagnosis.diagnosisid from diagnosis where diagnosis.diagnosisname = 'benzodiazepine overdose - with decreased mental status' ) order by cost.cost asc limit 1;
2025-07-27 16:42:55.480 | INFO     | __main__:get_prediction:37 - Generated SQL for index 40: SELECT patient.gender FROM patient WHERE patient.uniquepid = '006-227759';
2025-07-27 16:42:55.481 | INFO     | __main__:get_prediction:37 - Generated SQL for index 33: select distinct cost.cost from cost where cost.eventtype = 'diagnosis' and cost.eventid in ( select diagnosis.diagnosisid from diagnosis where diagnosis.diagnosisname = 'acute pulmonary edema' ) order by cost.cost asc limit 1;
2025-07-27 16:42:55.719 | INFO     | __main__:get_prediction:37 - Generated SQL for index 37: select patient.gender from patient where patient.uniquepid = '028-40370';
2025-07-27 16:42:56.190 | INFO     | __main__:get_prediction:37 - Generated SQL for index 35: select distinct cost.cost from cost where cost.eventtype = 'diagnosis' and cost.eventid in ( select diagnosis.diagnosisid from diagnosis where diagnosis.diagnosisname = 'coronary artery disease - known' );
2025-07-27 16:42:56.191 | INFO     | __main__:get_prediction:37 - Generated SQL for index 38: SELECT patient.gender FROM patient WHERE patient.uniquepid = '015-66570';
2025-07-27 16:42:56.434 | INFO     | __main__:get_prediction:37 - Generated SQL for index 39: SELECT patient.gender FROM patient WHERE patient.uniquepid = '015-76706';
2025-07-27 16:42:57.044 | INFO     | __main__:get_prediction:37 - Generated SQL for index 30: select distinct cost.cost from cost where cost.eventtype = 'diagnosis' and cost.eventid in ( select diagnosis.diagnosisid from diagnosis where diagnosis.diagnosisname = 'oral thrush' ) order by cost.chargetime asc limit 1;
2025-07-27 16:42:57.728 | INFO     | __main__:get_prediction:37 - Generated SQL for index 41: select strftime('%J',patient.hospitaldischargetime) - strftime('%J',patient.hospitaladmittime) from patient where patient.uniquepid = '006-146580' and patient.hospitaldischargetime is not null order by patient.hospitaladmittime desc limit 1;
2025-07-27 16:42:58.606 | INFO     | __main__:get_prediction:37 - Generated SQL for index 43: select strftime('%J',hospitaldischargetime) - strftime('%J',hospitaladmittime) from patient where uniquepid = '028-47306' and hospitaldischargetime is not null order by hospitaladmittime desc limit 1;
2025-07-27 16:42:58.606 | INFO     | __main__:get_prediction:37 - Generated SQL for index 36: select distinct cost.cost from cost where cost.eventtype = 'diagnosis' and cost.eventid in ( select diagnosis.diagnosisid from diagnosis where diagnosis.diagnosisname = 'pacemaker/aicd dysfunction' ) and cost.chargetime <= datetime('2105-12-31 23:59:00');
2025-07-27 16:42:59.000 | INFO     | __main__:get_prediction:37 - Generated SQL for index 44: select strftime('%J',patient.hospitaldischargetime) - strftime('%J',patient.hospitaladmittime) from patient where patient.uniquepid = '015-75226' and patient.hospitaldischargetime is not null order by patient.patienthealthsystemstayid asc limit 1;
2025-07-27 16:42:59.610 | INFO     | __main__:get_prediction:37 - Generated SQL for index 48: select strftime('%J',patient.hospitaldischargetime) - strftime('%J',patient.hospitaladmittime) from patient where patient.uniquepid = '017-101310' and patient.hospitaldischargetime is not null order by patient.patienthealthsystemstayid asc limit 1;
2025-07-27 16:43:00.261 | INFO     | __main__:get_prediction:37 - Generated SQL for index 45: select strftime('%J',patient.hospitaldischargetime) - strftime('%J',patient.hospitaladmittime) from patient where patient.uniquepid = '006-65780' and patient.hospitaldischargetime is not null order by patient.patienthealthsystemstayid desc limit 1;
2025-07-27 16:43:00.490 | INFO     | __main__:get_prediction:37 - Generated SQL for index 46: select strftime('%J',hospitaldischargetime) - strftime('%J',hospitaladmittime) from patient where uniquepid = '017-74343' and hospitaldischargetime is not null order by hospitaladmittime desc limit 1;
2025-07-27 16:43:00.720 | INFO     | __main__:get_prediction:37 - Generated SQL for index 47: select ( strftime('%J',patient.hospitaldischargetime) - strftime('%J',patient.hospitaladmittime) ) * 86400 from patient where patient.uniquepid = '016-5052' and patient.hospitaldischargetime is not null order by patient.patienthealthsystemstayid asc limit 1;
2025-07-27 16:43:01.044 | INFO     | __main__:get_prediction:37 - Generated SQL for index 50: select ( strftime('%J',hospitaldischargetime) - strftime('%J',hospitaladmittime) ) * 86400 as los from patient where uniquepid = '032-32248' and hospitaldischargetime is not null order by hospitaladmittime desc limit 1;
2025-07-27 16:43:01.661 | INFO     | __main__:get_prediction:37 - Generated SQL for index 51: select ( strftime('%J',patient.hospitaldischargetime) - strftime('%J',patient.hospitaladmittime) ) * 86400 as los
from patient
where patient.uniquepid = '016-1459'
order by patient.hospitaladmittime desc
limit 1;
2025-07-27 16:43:02.540 | INFO     | __main__:get_prediction:37 - Generated SQL for index 49: select strftime('%J',patient.hospitaldischargetime) - strftime('%J',patient.hospitaladmittime) from patient where patient.uniquepid = '011-58352' and patient.hospitaldischargetime is not null order by patient.hospitaladmittime desc limit 1;
2025-07-27 16:43:02.765 | INFO     | __main__:get_prediction:37 - Generated SQL for index 52: select strftime('%J',patient.hospitaldischargetime) - strftime('%J',patient.hospitaladmittime) from patient where patient.uniquepid = '027-107035' and patient.patienthealthsystemstayid = ( select patient.patienthealthsystemstayid from patient where patient.uniquepid = '027-107035' order by patient.hospitaladmittime asc limit 1 ) order by patient.unitadmittime asc limit 1;
2025-07-27 16:43:04.201 | INFO     | __main__:get_prediction:37 - Generated SQL for index 42: select
    strftime('%J',patient.hospitaldischargetime)) -
    strftime('%J',patient.hospitaladmittime))
from patient
where patient.uniquepid = '002-52932'
    and patient.hospitaldischargetime is not null
    and patient.patienthealthsystemstayid =
        ( select max(patienthealthsystemstayid) from patient where uniquepid = '002-52932' );
2025-07-27 16:43:05.108 | INFO     | __main__:get_prediction:37 - Generated SQL for index 57: select (dischargeweight - admissionweight) * 100 from patient where uniquepid = '010-12376' and patienthealthsystemstayid = ( select patienthealthsystemstayid from patient where patient.uniquepid = '010-12376' and patient.patienthealthsystemstayid = ( select min(patient.patienthealthsystemstayid) from patient where patient.uniquepid = '010-12376' ) ) and ( dischargeweight is not null or admissionweight is not null );
2025-07-27 16:43:05.703 | INFO     | __main__:get_prediction:37 - Generated SQL for index 55: select strftime('%J',patient.unitdischargetime) - strftime('%J',patient.unitadmittime) from patient where patient.uniquepid = '025-37141' and patient.patienthealthsystemstayid = ( select patient.patienthealthsystemstayid from patient where patient.uniquepid = '025-37141' order by patient.unitadmittime asc limit 1 ) order by patient.unitadmittime asc limit 1;
2025-07-27 16:43:07.440 | INFO     | __main__:get_prediction:37 - Generated SQL for index 56: select (lab.labresult - lab.labresulttime) * 24 * 60 * 60 from lab where lab.patientunitstayid in ( select patient.patientunitstayid from patient where patient.uniquepid = '018-47575' and patient.hospitaldischargetime is not null order by patient.hospitaldischargetime desc limit 1 ) and lab.labname = 'admissionweight' order by lab.labresulttime asc limit 1 offset 1;
2025-07-27 16:43:08.220 | INFO     | __main__:get_prediction:37 - Generated SQL for index 59: select ( lab.labresult - lab2.labresult ) from lab where lab.patientunitstayid in ( select patient.patientunitstayid from patient where patient.uniquepid = '021-240586' ) and lab.labname = 'admissionweight' and lab.labresulttime = '2101-12-16 20:24:00' union all select ( lab.labresult - lab2.labresult ) from lab lab2 join lab on lab2.patientunitstayid = lab.patientunitstayid where lab.patientunitstayid in ( select patient.patientunitstayid from patient where patient.uniquepid = '021-240586' ) and lab.labname = 'admissionweight' and lab2.labresulttime = '2101-10-12 15:58:00';
2025-07-27 16:43:10.087 | INFO     | __main__:get_prediction:37 - Generated SQL for index 64: select ( select patient.admissionweight from patient where patient.uniquepid = '006-161415' and patient.patienthealthsystemstayid = ( select patient.patienthealthsystemstayid from patient where patient.uniquepid = '006-161415' order by patient.hospitaladmittime asc limit 1 ) order by patient.unitadmittime desc limit 1 ) - ( select patient.admissionweight from patient where patient.uniquepid = '006-161415' and patient.patienthealthsystemstayid = ( select patient.patienthealthsystemstayid from patient where patient.uniquepid = '006-161415' order by patient.hospitaladmittime asc limit 1 ) order by patient.unitadmittime desc limit 2 ) );
2025-07-27 16:43:10.888 | INFO     | __main__:get_prediction:37 - Generated SQL for index 58: select (dischargeweight - ( select lab.labresult from lab where lab.patientunitstayid in ( select patient.patientunitstayid from patient where patient.uniquepid = '006-161415' and patient.hospitaldischargestatus = 'alive' order by patient.hospitaladmittime asc limit 1 ) and lab.labname = 'dischargeweight' order by lab.labresulttime desc limit 1 ) ) from lab where lab.patientunitstayid in ( select patient.patientunitstayid from patient where patient.uniquepid = '006-161415' and patient.hospitaldischargestatus = 'alive' order by patient.hospitaladmittime asc limit 1 ) and lab.labname = 'dischargeweight' order by lab.labresulttime desc limit 1 );
2025-07-27 16:43:12.057 | INFO     | __main__:get_prediction:37 - Generated SQL for index 60: select ( select lab.labresult from lab where lab.patientunitstayid in ( select patient.patientunitstayid from patient where patient.uniquepid = '021-49416' and patient.hospitaldischargestatus = 'alive' ) and lab.labname = 'admissionweight' order by lab.labresulttime asc limit 1 offset 1 ) - ( select lab.labresult from lab where lab.patientunitstayid in ( select patient.patientunitstayid from patient where patient.uniquepid = '021-49416' and patient.hospitaldischargestatus = 'alive' ) and lab.labname = 'admissionweight' order by lab.labresulttime asc limit 1 );

**Trial 0**: 
- Time taken: 1405.77 seconds

# Evaluate SQL query

To evaluate the SQL query, we will execute BOTH the ground truth SQL statement and the predicted SQL statement against the SQL database, and compare their outcomes

In [8]:
import os
from utils import preprare_directory

# create output directory for evaluation results, relative to the path of model_evaluation directory
# note that the evaluate results need a clean new folder, because it will overwrite any existing files in the folder
pred_directory = f"../model_predictions/eICU/mistral_nemo_minitron_8B_finetuned/trial_{trial_number}"
eval_directory = os.path.join(pred_directory, "evaluation")
preprare_directory(eval_directory, exist_ok=False)

# the predicted file from previous step
pred_file = os.path.join(pred_directory, "predictions.json")

print("Using predictions from: ", pred_file)

# path to the eICU database
db_path = "../model_evaluation/databases/eicu.sqlite"

Using predictions from:  ../model_predictions/eICU/mistral_nemo_minitron_8B_finetuned/trial_0/predictions.json

In [9]:
# run evaluation
!python ../model_evaluation/ehrsql_eval.py \
    --pred_file {pred_file} \
    --db_path {db_path} \
    --num_workers -1 \
    --timeout 60 \
    --out_file {eval_directory} \
    --ndigits 2

# Interpret results

In [10]:
fp = f"../model_predictions/eICU/mistral_nemo_minitron_8B_finetuned/trial_{trial_number}/evaluation/predictions_metrics.json"

with open(fp, "r") as f:
    metrics = json.load(f)

print(json.dumps(metrics, indent=4))

{
    "precision_ans": 100.0,
    "recall_ans": 95.76,
    "f1_ans": 97.83,
    "precision_exec": 47.73,
    "recall_exec": 45.7,
    "f1_exec": 46.69,
    "acc": 45.7
}